$css-prefix: svu-;

$c-primary: #2d8cf0;
$c-error: #ed3f14;
$c-success: #19be6b;
$c-primary-hover: #57a3f3;

$c-gray-bg: #F0F0F0;
$c-gray-bd: #e9eaec;
$c-in-active-font: #c5c8ce;

$font-size-base: 14px;
$font-size-small: 12px;